<%= render partial: 'shared/menu' %>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Name</th>
      <th>Description</th>
      <th>Baseline</th>
      <th>Savings</th>
      <th>Start on</th>
      <th>End on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.state %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.baseline %></td>
        <td><%= project.savings %></td>
        <td><%= project.start_on %></td>
        <td><%= project.end_on %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

<%= render partial: 'shared/versioning', locals: { versions: @versions } %>
